#pricingServices-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30%;
}

#textServices {
    display: flex;
    flex-direction: row;
    text-align: justify;
}

.textExplanation {
    margin: 5% 10% 10% 10%;
}

.services-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prices-table {
    font-family: "Roboto Slab";
    table-layout: fixed;
    width: 70%;
    margin-left: auto;
}

.inputService {
    margin-left: 1%;
    max-width: 35%;
}

#addServiceButton {
    margin-left: 1%;
}