#pricingServices-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40%;
}

#textServices {
    display: flex;
    flex-direction: row;
    text-align: justify;
}

.textExplanation {
    margin: 5% 10% 10% 10%;
}

.services-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}