#aboutImg {
    max-width: 40%;
    height: auto;
    align-self: start;
    margin: 5% 10% 0% 10%;
}

#homepage-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 30%;
}

#about {
    margin: 5% 5% 5% 0%;
    text-align: justify;
    align-self: start;
}