a:link {
    text-decoration: none;
}

.App {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
}

#banner-img {
    max-width : 50%;
}

#banner {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    padding: 2% 0% 3% 0%;
}

a {
    color: white;
}

a:hover {
    color: black;
    background-color: white;
}

#bottom-container {
    background-color: #333333;
    color: white;
    position: absolute;
}

#bottom-container {
    overflow: hidden;
    position: absolute;
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    bottom: 0; 
    left: 0;
    width: 100%;
    margin: 0px auto;
    right: 0px;
    left: 0px;
    background-color: #333333;
}

.bottom-info {
    margin: 2% 5% 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#iPet {
    margin-top: 4%;
    max-width: 50%;
}