a:link {
    text-decoration: none;
}

.App {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
}

h1 {
    font-family: "Roboto Slab" 
}

h2 {
    font-family: "Roboto Slab" 
}

h3 {
    font-family: "Roboto Slab" 
}

text {
    font-family: "Roboto Slab";
}

p {
    font-family: "Roboto Slab";
}


#banner-img {
    max-width : 50%;
}

#banner {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    padding: 2% 0% 3% 0%;
    font-size: larger;
    font-family: "Girassol"
}

a {
    color: white;
}

a:hover {
    text-decoration: underline;
}

#bottom-container {
    background-color: #333333;
    color: white;
    position: absolute;
}

#bottom-container {
    overflow: hidden;
    position: absolute;
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    bottom: 0; 
    left: 0;
    width: 100%;
    margin: 0px auto;
    right: 0px;
    left: 0px;
    background-color: #333333;
}

.bottom-info {
    margin: 2% 2% 2% 1%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;
}

#iPet {
    margin-top: 4%;
    max-width: 50%;
    margin-left: 45%;
}

#opening-times {
    table-layout: fixed;
    width: 35%;
    font-family: "Roboto Slab";
}

#img-link {
    display: flex;
    flex-direction: column-reverse;
}

button {
    color: white;
    background-color: #333333;
    border-radius: 10px;
}
